h1 {
  font-size: 50px;
}

p {
  color: gray;
}

.copyright {
  color: Gray;
  text-align: right;
}

.phonelink {
  color: Aquamarine;
  font-size: 16px;
}

body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}

.travelguide {
  font-weight: 300;
  font-size: 42px;
}
